<div class="incioDiv ">
    <div class="bannerStory1"></div>
    {{!-- <div class="bannerStory2"></div> --}}
    <div class="divBannerMovies"></div>
    <div class="aboutDiv">
        <div class="container">
            <br><br>
            {{!-- <div class="row">
                <br>
                <h5 class=" fontWild"> <span style="font-weight: bolder; font-size: 2.5rem;">From the heart of
                        Glasgow to the stage of Edinburgh</span>, Wild Rose is a powerful new musical about chasing
                    dreams, country music, and finding your way home. Written by BAFTA-winner Nicole Taylor and directed
                    by
                    Tony Award-winner John Tiffany, this world premiere bursts with grit, soul, and unforgettable songs.
                    <br>
                </h5>
                <br>

            </div> --}}
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="carousel carouselSize carousel-slider center">
                <div class="carousel-fixed-item center">
                    {{!-- <a class="btn waves-effect white grey-text darken-text-2">button</a> --}}
                </div>
                <div class="carousel-item red1 white-text" href="#one!">

                </div>
                <div class="carousel-item red2 white-text" href="#two!">

                </div>
                <div class="carousel-item red3 white-text" href="#three!">

                </div>
                <div class="carousel-item red4 white-text" href="#four!">

                </div>
                <div class="carousel-item red5 white-text" href="#five!">

                </div>
                <div class="carousel-item red6 white-text" href="#six!">

                </div>
                <div class="carousel-item red7 white-text" href="#seven!">

                </div>
                <div class="carousel-item red8 white-text" href="#eight!">

                </div>
            </div>
        </div>
        {{!-- <div class="container">
            <div class="slideshow-container">

                <div class="mySlides fade">

                    <img src="/assets/images/wild1.jpg" style="width:100%">

                </div>

                <div class="mySlides fade">

                    <img src="/assets/images/wild2.jpg" style="width:100%">

                </div>

                <div class="mySlides fade">

                    <img src="/assets/images/wild3.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">

                    <img src="/assets/images/wild4.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">

                    <img src="/assets/images/wild5.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">

                    <img src="/assets/images/wild6.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">

                    <img src="/assets/images/wild7.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">

                    <img src="/assets/images/wild8.jpg" style="width:100%">
                </div>


            </div>
            <br>

            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div> --}}
    </div>
    <div class="aboutDiv">
        <div class="container">
            <div class="row">
                <br>
                {{!-- <div class="col s12 m6">
                    <h5 class=" fontWild"> <span style="font-weight: bolder; font-size: 2.5rem;">Includes iconic
                            songs by: </span>Dolly Parton, The Chicks, Wynonna Judd, Mary Chapin Carpenter, and the
                        original
                        hit “Glasgow (No Place Like Home).
                        <br><br>
                        Wild Rose is more than a story, it’s a full-throttle musical experience powered by the soul of
                        American country and the raw emotion of Scottish storytelling. The production features a bold
                        selection of iconic hits by country legends and powerful new arrangements.
                    </h5>
                    <br>
                </div> --}}
                <div class="col s12 m6">
                    <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/track/1CiByKRjwXCh1qVPKSZutf?utm_source=generator"
                        width="100%" height="352" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
                </div>
                <div class="col s12 m6">
                    <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/track/1piUjnkfi8Dz8Fln0wkThf?utm_source=generator"
                        width="100%" height="352" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
                </div>

            </div>
        </div>
    </div>
    <div class="awardsDiv ">
        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                    <iframe class=" iframeClass" src="https://www.youtube.com/embed/ImMkiMov5wQ?si=g7WqNVn5uiMjnXSj"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                {{!-- <div class="col s12 m6">
                    <h5 class=" fontWild"> <span style="font-weight: bolder; font-size: 2rem;">Rose-Lynn Harlan, a
                            headstrong young mother from Glasgow</span>, with a voice that could shake the rafters,
                        dreams of making it big in Nashville. But as she chases fame beyond the horizon, she’s forced to
                        confront the mistakes of her past, the family she left behind, and the truth that the road home
                        may be the hardest journey of all.
                        <br>
                    </h5>
                </div> --}}
            </div>
        </div>
        <div class="container">
            <h5 class="textCentered fontWild"> <span style="font-weight: bolder; font-size: 2rem;">Record-breaking
                    musical at the Royal Lyceum Theatre in Edinburgh
            </h5>
        </div>
        <div class="container">
            <div class="row">
                <br>
                <h5>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/5.jpg">

                            </div>

                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/6.jpg">

                            </div>

                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="/assets/images/7.jpg">

                            </div>

                        </div>
                    </div>

                </h5>
            </div>
        </div>

    </div>




    <div class=" ">
        <br>
        <div class="container">
            <h5 class=" fontWild "> <span style="font-weight: bolder; font-size: 2rem;" class="contentFontSize">Catch exclusive content <i
                        class="fab fa-instagram"></i></span>
                <br>
            </h5>
        </div>
        <div class="container">

            <div class="row">

                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image"
                            onclick="window.open('https://www.instagram.com/wildrosemusical?igsh=MW1jZzg0OTdsbnVycw==', '_blank');">
                            <img src="/assets/images/instagram1.jpg">
                        </div>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image"
                            onclick="window.open('https://www.instagram.com/wildrosemusical?igsh=MW1jZzg0OTdsbnVycw==', '_blank');">
                            <img src="/assets/images/instagram2.jpg">


                        </div>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image"
                            onclick="window.open('https://www.instagram.com/wildrosemusical?igsh=MW1jZzg0OTdsbnVycw==', '_blank');">
                            <img src="/assets/images/instagram3.jpg">


                        </div>

                    </div>
                </div>
            </div>
            {{!-- <div class="row">
                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image"
                            onclick="window.open('https://www.theguardian.com/stage/2025/mar/16/wild-rose-review-country-musical-royal-lyceum-edinburgh', '_blank');">
                            <img src="/assets/images/blue.jpg">
                        </div>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image"
                            onclick="window.open('https://www.heraldscotland.com/life_style/24970124.behind-scenes-scotlands-newest-musical-wild-rose/', '_blank');">
                            <img src="/assets/images/kreativaMontreal.jpg">


                        </div>

                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card pointer">
                        <div class="card-image"
                            onclick="window.open('https://www.theguardian.com/stage/2025/mar/23/wild-rose-musical-review-royal-lyceum-edinburgh-nicola-taylor-john-tiffany-dawn-sievewright-jessie-buckley', '_blank');">
                            <img src="/assets/images/davidjansenpost.jpg">


                        </div>

                    </div>
                </div>
            </div> --}}
        </div>


    </div>
    {{!-- <div class="container">
        <div class="col s12 m12">
            <div class="row">
                <h5 class=" fontWild"> <span style="font-weight: bolder; font-size: 2rem;">Wild Rose is a powerful
                        new musical about chasing
                        dreams, country music, and finding your way home.</span> <br>

                </h5>
            </div>
            <div class="row">
                <h5>
                    <div class="col s12 m6">
                        <div class="card black darken-1">
                            <div class="card horizontal black">
                                <div class="card-stacked">
                                    <div class="card-content fontWild #ffffff white">
                                        "Scottish Musical Wild Rose could end up on the
                                        West End or Broadway".
                                        <hr>
                                        <span class="card-title">
                                            ° To say there is buzz about this show is an understatement. <br> <br>
                                            ° I have never seen a crowd take to its feet as I did last Friday
                                            the show is Triumphant. <br> <br>
                                            ° This is Theatre to get excited about. <br> <br>
                                        </span>
                                    </div>
                                    <div class="card-action">
                                        <a href="https://www.heraldscotland.com/opinion/25018723.scottish-play-wild-rose-end-west-end-broadway/"
                                            target="_blank">
                                            <p class="fontWild">The Herald </p>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card black darken-1">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        "Scottish Musical Wild Rose could end up on the
                                        West End or Broadway".
                                        <span class="card-title">
                                            ° To say there is buzz about this show is an understatement. <br> <br>
                                            ° I have never seen a crowd take to its feet as I did last Friday
                                            the show is Triumphant. <br> <br>
                                            ° This is Theatre to get excited about. <br> <br>
                                        </span>
                                    </div>
                                    <div class="card-action">
                                        <a href="https://www.heraldscotland.com/opinion/25018723.scottish-play-wild-rose-end-west-end-broadway/"
                                            target="_blank">
                                            <p>The Herald </p>
                                        </a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>



                </h5>
            </div>

        </div>
    </div> --}}

</div>