<div class="privacidadDiv">
    
    <div class="bannerPrivacidad">
        <div class="overlayPrivacidad">
            <div class="container centered">
                <div class="section">
                    <div class="row">
                        <div class="col s12 m4"></div>
                        <div class="col s12 m4">
                            <h2 class="avisoPrivacidadTitle white-text">Privacy Policy</h2>
                        </div>
                        <div class="col s12 m4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="avisoDiv">
        <div class="container">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Who we are?</th>
                        <td><span class="specialEliteFont">Caledonia Productions</span> is the responsible for the use and
                            protection of your personal information.</td>
                    </tr>
                    <tr>
                        <th scope="row">What purposes will we use your personal data for?</th>
                        <td>The personal data we collect from you will be used for validating payment methods, customer
                            contact, or any related purpose resulting from your decision to provide us with your
                            information due to your interest in our services.</td>
                    </tr>
                    <tr>
                        <th scope="row">Where can I review the comprehensive privacy notice?</th>
                        <td>To learn more about the terms and conditions under which your personal data will be
                            processed, as well as the way you can exercise your ARCO rights, you can refer to the
                            comprehensive privacy notice.</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <br>
            <p>
                <span class="specialEliteFont">Caledonia Productions</span> is the responsible for the use and
                protection of your personal information. We therefore inform the following:
            </p>
            <p>
                The personal data collected, including identification, contact, employment, and financial information,
                will be used for validating payment methods, customer contact, or any purpose related to the act of
                providing your information due to your interest in our services.
            </p>
            <p>
                You're right to acces the data that <span class="specialEliteFont">Caledonia Productions</span> hold about
                you, The purpose for which they are used and the conditions of their use. Likewise, in protection of the
                right to rectification, you have the right to request the correction of your personal information in
                case it is outdated, inaccurate, or incomplete; you have the right to cancellation, so you can request
                the removal of your information from our records or databases when you consider that it is not being
                used in accordance with the principles, duties, and obligations established by regulations; as well as
                the right to object to the use of your personal data for specific purposes. These rights are known as
                ARCO rights.
            </p>
            <p>
                You have the right to revoke the consent you have granted for the processing of your personal data.
                However, it is important to note that your request may not always be able to be addressed or the use
                concluded immediately, as legal obligations may require us to continue processing your personal data.
                Also, you should consider that, for certain purposes, revoking consent may imply the suspension of the
                requested service or the termination of your relationship with
                <span class="specialEliteFont">Caledonia Productions</span>.
            </p>
            <p>
                Así mismo, usted tiene derecho a limitar el uso y divulgación de su información para que no sean
                tratados
                con fines mercadotécnicos, publicitarios o de prospección comercial por parte de <span
                    class="specialEliteFont">Caledonia Productions</span>.
            </p>
            <p>
                To learn about the procedure and requirements for exercising any of the ARCO rights, revoking consent,
                or limiting the use and disclosure of your data, you can contact us through the email
                alecvipa@gmail.com, where any questions regarding the processing of your information will be addressed.
            </p>
            <p>
                We inform you that we use cookies, web beacons, and other technologies through which it is possible to
                monitor your behavior as an Internet user, in order to provide you with better service and a
                user-friendly experience while browsing our website, as well as to send you promotions, updates about
                the call, and reminders to participants. You can disable this function from your web browser settings.
            </p>
            <p>
                This privacy notice may undergo modifications, changes, or updates arising from new legal requirements,
                our own needs for the products or services we offer, our privacy practices, changes in our business
                model, or other reasons. Any changes to this privacy notice will be communicated through the same
                website.
            </p>
            <p>
                Last updated May 1st 2025.
            </p>

        </div> <br>

    </div>

</div>