nav {
    background-color: white !important ;
    
}
.buttonHide{
    display: none !important;
}
.navItems{
    color: black !important;
}
.material-icons{
    color: black !important;
}
.centerArt{
    margin: auto;
}
.awardsDiv{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 1%;
}
.titleVilpa2{
    width: 90% !important;
}
.pointer {cursor: pointer;}
.divBannerMovies{
    height: 50rem;
    background-image: url("/assets/images/bannerInicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.fullCastBanner{
    height: 59rem;
    background-image: url("/assets/images/fullcastBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.bannerStory1{
    height: 43rem;
    background-image: url("/assets/images/blueShades2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.textJust{
    text-align: justify !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bannerStory2{
    height: 10rem;
    background-image: url("/assets/images/kreativa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}
.titleVilpa{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.bannerPrivacidad{
    background-image: url("/assets/images/sal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.overlayPrivacidad{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.438);
}
.privacidadDiv{
    margin-bottom: 0%;
}
.avisoDiv{
    padding-top: 3%;
}
.centered{
    text-align: center !important;
}
.fonts{
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Work Sans', sans-seri
}

.contInicioNosotros{
    background-color: white;
    padding-top: 3%;
    margin-top: 3%;
}

.overlayParallax{
    background-color: rgba(0, 0, 0, 0.514);
    height: 100%;
    width: 100%;
    padding-top: 10%;
}
.containerParallax{
    height: 20rem !important;
}
.instaOption:hover{
    opacity: .5;
    transition: 0.5s;
}

.colorSieteTeal{
    color: #73B598 !important;
}

nav ul a,
nav .brand-logo {
   color: #444;
}
.centered{
   text-align: center;
}
.boldL{
   font-weight: bold;
}
 
p {
   line-height: 2rem;
}
 
.sidenav-trigger {
   color: #26a69a;
}
 
.parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
}
.parallax-container .section {
     width: 100%;
}
.imageLogo{
   height: 7rem;
}
.navDiv{
   height: 7rem;
}
.sidenav-overlay{
    display: none !important;
}
.parallax-container{
    min-width: 350px !important;
}



@media only screen and (min-width : 992px) {
    .navUl{
        padding-top: 3%;
    }
}
@media only screen and (max-width : 992px) {
    .bannerStory1,.bannerStory2 {
        display: block;
    }
    .margin-top-7{
        margin-top: 7%;
    }
    
    .gallery-bodies{
        margin-top: 320px !important;
    }
    .titleVilpa{
        width: 100%;
    }
    .imageLogo{
        margin-top: 12%;
    }
    .navDiv{
        height: 5rem;
        padding-top: 3%;
    }
    .divBannerMovies{
        display: none;
        
    }
    .fullCastBanner{
        height: 20rem;
    }
    
    
}
  
@media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
}
  
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
  
footer.page-footer {
    margin: 0;
}